body {
    -webkit-user-select: none;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

*::-webkit-scrollbar {
    width: 1em;
}
*::-webkit-scrollbar-track {
    background: #EEE;
}
*::-webkit-scrollbar-thumb {
  background-color: darkgray;
}